

<div class="modal fade" id="modalFinishQuotePatient" tabindex="-1" aria-labelledby="modalFinishQuotePatientLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalFinishQuotePatientLabel">Finalizar cita</h1>

                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body container-fluid">
                <form action="/doctor/quote/status/{{data.id}}" method="POST" class="row">

                    <h3 class="text-center">¿Seguro que desea finalizar la cita?</h3>

                    <div class="col-12 mb-3">
                        <label for="starPatient">Califique al doctor <b id="starPatientSpace"></b></label>
                        <div class="rating" style=";">
                            <input value="5" name="starPatient" id="pstar5" type="radio">
                            <label title="text" for="pstar5"></label>
                            <input value="4" name="starPatient" id="pstar4" type="radio">
                            <label title="text" for="pstar4"></label>
                            <input value="3" name="starPatient" id="pstar3" type="radio">
                            <label title="text" for="pstar3"></label>
                            <input value="2" name="starPatient" id="pstar2" type="radio">
                            <label title="text" for="pstar2"></label>
                            <input value="1" name="starPatient" id="pstar1" type="radio">
                            <label title="text" for="pstar1"></label>
                        </div>
                        {{!-- <input class="form-control range" name="starPatient" id="starPatient" type="range" min="0"
                            max="5" /> 
                            --}}
                    </div>

                    <div class="form-floating col-12 mb-3">
                        <input class="form-control" name="descriptionPatient" id="descriptionPatient" type="text"
                            placeholder="" />
                        <label for="descriptionPatient">Escriba su opinión</label>
                    </div>

                    <input type="hidden" value="FINALIZADO" name="status" />
                    <input type="hidden" value="{{data.quoteDetailReference.id}}" name="currentDetail" />

                    <div class="d-flex gap-3 justify-content-end">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancelar</button>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-send-fill"></i>
                            finalizar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const input = document.getElementById("starPatient");
    const space = document.getElementById("starPatientSpace");

    input.addEventListener(`change`, (ev) => {
        space.textContent = input.value;
    })

</script>