

<div class="modal fade" id="deleteObject" tabindex="-1" aria-labelledby="deleteObjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteObjectLabel">{{delete.name}}</h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body container-fluid">
                <form action="{{delete.url}}" method="POST" class="row">

                    <p class="text-center">Seguro que desea eliminar el registro?</p>
                        
                    <div class="d-flex justify-content-center gap-3">
                        <button type="submit" class="btn btn-danger">
                            SÍ
                        </button>
                        <button type="button" class="btn btn-primary">
                            NO
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

