<nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->

    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <img src="/cita.png" width="auto" height="50" />
    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <div class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-success my-2 my-sm-0" href="/login">Iniciar sesión</a>
        </div>

        <div class="topbar-divider d-none d-sm-block"></div>

        <div class="form-inline my-2 my-lg-0">
            <a class="btn btn-success my-2 my-sm-0" href="/register">Crear Cuenta</a>
        </div>

        <!-- Nav Item - Alerts -->



    </ul>

</nav>
<!-- End of Topbar -->